<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leads and Clients</title>
        <!-- linking a css style sheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <!-- Linking Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- linking a javascript file -->
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script> -->
    </head>
    <body>
        <div class="container">
            <h2>Report Dashboard</h2>
            <h3><u>List of all customers and # of leads</u></h3>
            <table class="table table-striped table-bordered">
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Number of Leads</th>
                </tr>
                {% for row in query %}
                    <tr>
                    {% for d in row %}
                        <td>{{ row[d] }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <div id="chartContainer" style="height: 370px; width: 80%;"></div>
            <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
            
        </div>
        <script>
        window.onload = function () {
            
            var options = {
                animationEnabled: true,
                title: {
                    text: "Customers and number of new leads"
                },
                data: [{
                    type: "doughnut",
                    innerRadius: "40%",
                    showInLegend: true,
                    legendText: "{label}",
                    indexLabel: "{label}: {y}",
                    dataPoints: [
                        { label: "Alvin Malone", y: 2 },
                        { label: "Caesar Stewart", y: 2 },
                        { label: "Francis Walsh", y: 4 },
                        { label: "Roosevelt Sebial", y: 10 },
                        { label: "Erica Suarez", y: 13 },
                        { label: "Callie Poole", y: 13 },
                        { label: "Ferdinand Schmidt", y: 14 },
                        { label: "Alexa Schroeder", y: 16 },
                        { label: "Shafira Hansen", y: 17 },
                        { label: "Maria Gonzales", y: 18 },
                        { label: "Diana Sue Manlulu", y: 20 },
                        { label: "Masaki Fujimoto", y: 21 },
                        { label: "Tom Owen", y: 22 },
                        { label: "Toni Rose Panganiban", y: 30 },
                        { label: "John Supsupin", y: 32 },
                        { label: "Ryan Owen", y: 32 },
                        { label: "Joe Smith", y: 34 },
                        { label: "Michael Choi", y: 35 }
                    ]
                }]
            };
            $("#chartContainer").CanvasJSChart(options);
            
            }
        </script>
    </body>
</html>